torch>=2.1
torchvision
diffusers
accelerate
transformers
scipy
opencv-python
omegaconf
einops
roma
jaxtyping
boto3>=1.24.0
pytest>=7.0.0
Pillow>=9.0.0
boto3>=1.24.0
numpy>=1.23.0
pytest>=7.0.0
timm==0.6.7
matplotlib==3.6.2
