torch==2.1.2+cu126
torchvision==0.16.1+cu126
--extra-index-url https://download.pytorch.org/whl/cu126

diffusers
accelerate
transformers
scipy
opencv-python
omegaconf
einops
roma
jaxtyping
boto3>=1.24.0
pytest>=7.0.0
Pillow>=9.0.0
boto3>=1.24.0
numpy>=1.23.0
pytest>=7.0.0
timm==0.6.7
matplotlib==3.6.2
